.nameLogo{ 
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;   
    animation: logo 5s infinite; 
    font-size: 341%;  
    display: inline-flex; 
    margin: 2%;
    } 
    @keyframes logo  {
        from{ 
            color: initial;
        } 
        to{ 
            color: rgba(255, 68, 0, 0.623);
        }
    }
    #jyj{ 
        display: flex;
        justify-content: center;
    }

.logo{  
    display: flex; 
    background-image: url(../img/electrodomesticos.jpg);
    background-position: center;
    background-color: saddlebrown; 
    justify-content: center; 
    margin: 0px; 
    overflow-x: hidden;
}  

body .background{ 
    width: 100%; 
    background-color: #e4e5e7;
} 

.categorias{ /*categorias cambie*/
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
    row-gap: 2%;
    /*flex-direction: row;
    flex-wrap: wrap; 
    overflow: hidden;
    justify-content: space-evenly; 
    margin: 0px; 
    padding: 0px;*/
} 

/*section.container.categorias .link{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 2px;
}*/

.textCategoria{  
    display: flex;
    flex-direction: column;
    width: auto; /*285*/ 
    font-family: Georgia, 'Times New Roman', Times, serif;   
    font-size: 200%;
    margin-top: 0;
    background-color: lightgray;
    justify-content: center; 
    align-items: center;
}   

/*.textCategoria:hover{ 

}*/

.box{ 
    display: flex;
}

table{ 
    margin-bottom: 0!important;
}

.container h1 { 
    display: flex;
    justify-content: center;
} 

.container section.container.categorias div a.link { 
    display: inherit;
    text-decoration: none;
    color: black;
} 
/*.container section.container.categorias div a.link:hover{ 
    font-weight: bold; 
    box-shadow: 0 0 10px whitesmoke;
}*/

article{ 
    width: 100%;
} 
div.containerError{ 
    display: flex; 
    justify-content: center; 
    align-content: center; 
    margin-top: 6%;
}
body div.containerError h1.error span#errorImg{ 
    width: 100%;
    color: rgb(175, 19, 19); 
    font-size: 80px;
    justify-content: center;
} 

div.container section.container.categorias div.animacion:hover{ 
    border: 1px solid transparent;
    border-radius: 2%;
    box-shadow: 0 0 10px rgba(24, 23, 23, 0.411);
} 

body{ 
    height: 100%;
}

.container-copyRight{ 
    height:100%;
    background-color: #c5c7ca;
}

p{ 
    display: flex;
    justify-content: left;
    padding: 1%; 
    margin: 0!important;
}

footer{ 
    background-color: #f7f7f7d0;
}

div.img img{ 
    width: 50%;
}

.socialMedia{ 
    display: inline-flex;
    list-style: none;
    padding-left: 0;
} 

.socialMedia-item{ 
    margin-left: 2rem;
    text-decoration: none;
}

a.fa{ 
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
} 

a.fa:hover{
    text-decoration: none; 
    opacity: 0.8;
 }

.fa-facebook{ 
    color: white; 
    background: #3B5998;
}

.myBorder{ 
    border-top: 1px solid;
    border-color: darkgray;
} 

.imageLogo{ 
    border-radius: 50%!important;
}

.imagenes{ 
    width: 400px;
    height: 150px;
    margin: 2px;
}

.containerImages{ 
    display: flex;
    width: 100%;
    height: max-content;
    overflow-x: wrap;
    flex-wrap: wrap;
}

.border-top.configBorder{ 
    padding-bottom: 20px;
}